{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>目標金額と進捗状況</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>

        .class1 {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .class2 {
            display: flex;
            flex-direction: row;
        }
        #tb #yue:hover {
            color: white;
            background-color: red;
        }
        table.st-tbl1 {
            position: relative;
            border-collapse: collapse;
            font-size: 0.9em;
        }
        table.st-tbl1 th,
        table.st-tbl1 td{
            padding: 0.5rem;
            border: solid 1px #ddd;
        }
        table.st-tbl1 th {
            background: rgb(227, 249, 252);
            position: sticky;
            top: 0;
        }
        table.st-tbl1 tr:hover {
            border: solid 1.5px blue;
        }
        .det_title{
            padding: 0.25em 0.5em;
            color: #494949;
            background: transparent;
            border-left: solid 5px #7db4e6;
        }
        .kanshoku{
            color: rgb(240, 158, 7);
            /* text-shadow: 1px 1px 1px rgb(69, 68, 68); */
        }
    </style>
</head>
<body>

    <div class="mt-4 mb-4" style="width: 85%; margin: 0 auto;">
        
        <!-- 対象「年」を指定 -->
        <form action="{% url 'houjin:index2_nen' %}" method="post">{% csrf_token %}
            <div class="class1">
                <div>
                    <select class="form-select" name="nen" style="width: 100px;">
                        {% for i in nen_list %}
                            {% if i == nen %}
                                <option value="{{i}}" selected>{{i}}年</option>
                            {% else %}
                                <option value="{{i}}">{{i}}年</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div style="margin-left: 20px;">
                    <button class="btn btn-secondary" type="submit">表示</button>
                </div>
            </div>
        </form>
            
        
        <!-- 指定「年」の一覧表示 -->
        <table id="tb" class="mt-3 table table-bordered" style="white-space: nowrap;">
            <tr class="table-danger" style="text-align: center;">
                <th></th>
                {% for i in tsuki_list %}
                        {% if i == col %}
                            {% if i == 13 %}
                                <th id="yue" style="width: 90px; background-color: green; color: white;"><a>合計</a></th>
                            {% else %}
                                <th id="yue" style="width: 90px; background-color: green; color: white;"><a>{{i}}月</a></th>
                            {% endif %}
                        {% else %}
                            {% if i == 13 %}
                                <th id="yue" style="width: 90px;"><a>合計</a></th>
                            {% else %}
                                <th id="yue" style="width: 90px;"><a>{{i}}月</a></th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}         
            </tr>
            <tr style="text-align: right;">
                <th style="text-align: center; width: 80px;">目標</th>
                {% for i in yotei %}
                    <td>{{i|intcomma}}</td>
                {% endfor %}
            </tr>
            <tr style="text-align: right;">
                <th style="text-align: center;">実績</th>
                {% for i in juchu %}
                    <td>{{i|intcomma}}</td>
                {% endfor %}
            </tr>
            <tr style="text-align: right;">
                <th style="text-align: center;">達成率</th>
                {% for i in tassei %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
        </table>

        <div style="display:none;">
            <form action="{% url 'houjin:index2_click' %}" id="frm" method="post">{% csrf_token %}              
                <input type="text" id="col" name="col">
            </form>
        </div>

        
        <!-- 個別表示 -->
        <div class="mt-5">
            <span class="det_title"><b>目標金額一覧</b>　表示データ：{{taisho}}</span>
            <table class="st-tbl1 mt-2" style="white-space: nowrap;">
                <tr style="text-align: center;">
                    <th>担当</th>
                    <th>会社名</th>
                    {% for i in tsuki_list %}
                        {% if i == col %}
                            {% if i == 13 %}
                                <th id="yue" style="width: 90px; background-color: green; color: white;"><a>合計</a></th>
                            {% else %}
                                <th id="yue" style="width: 90px; background-color: green; color: white;"><a>{{i}}月</a></th>
                            {% endif %}
                        {% else %}
                            {% if i == 13 %}
                                <th id="yue" style="width: 90px;"><a>合計</a></th>
                            {% else %}
                                <th id="yue" style="width: 90px;"><a>{{i}}月</a></th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <th></th>
                </tr>
                {% for i in cus_detail %}
                    <tr>
                        <td>
                            {% for key,value in tan_list.items %}
                                {% if key == i.tantou %}
                                    {{value}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{i.com}}</td>
                        {% for h in i.yotei %}
                            <td style="text-align: right;">{{h | intcomma}}</td>
                        {% endfor %}
                        <td>
                            <button class="btn btn-outline-primary btn-sm" data-sample="{{i}}" data-toggle="modal" data-target="#testModal">詳細</button>
                        </td>
                    </tr>                   
                {% endfor %}
            </table>
        </div>


        <!-- モーダル -->
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">

                    <form action="">
                        <div class="modal-header">
                            <div>
                                <label for="m-cus_id">顧客ID：</label>
                                <input type="text" id="m-cus_id" name="m-cus_id" style="width: 90px; text-align: center;" readonly>
                            </div>                          
                            <button class="close btn btn-outline-secondary" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="class2">
                                <div>
                                    <h5 id="m-company"></h5>
                                    <div id="m-name"></div>
                                </div>
                                <div style="margin-left: 80px;">
                                    <div class="class2">
                                        <div>担当：</div>
                                        <div><h5 id="m-tantou"></h5></div>
                                    </div>
                                    <div class="class2">
                                        <div>感触：</div>
                                        <div><h6 id="m-kanshoku" class="kanshoku"></h6></div>
                                    </div>
                                </div>
                                <div style="margin-left: 80px;">
                                    <div id="m-adress"></div>
                                    <div class="class2" style="margin-top: 10px;">
                                        <div id="m-tel" style="width: 180px;"></div>
                                        <div id="m-mob" style="width: 180px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 30px;">
                                <div id="m-list"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="" class="btn btn-primary">保存する</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
    <script>

        //---------------------------------
        // モーダルにパラメータ渡し
        //---------------------------------
        $("#testModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var sampledata = button.data("sample");
            var modal = $(this);
            
            // yoteiのリスト
            var st = sampledata.indexOf("'yotei'");
            var ed = sampledata.indexOf("'juchu'");
            var str = sampledata.slice(st,ed-2);
            var str2 = str.replaceAll(",","@");
            sampledata = sampledata.replace(str,str2);
            
            // juchuのリスト
            st = sampledata.indexOf("'juchu'");
            ed = sampledata.indexOf("}");
            str = sampledata.slice(st,ed);
            str2 = str.replaceAll(",","@");
            sampledata = sampledata.replace(str,str2);

            // オブジェクトに修正
            var smobj = {};
            var smp1 = sampledata.split(",");

            for (var i=0; i<smp1.length; i++){
                smp2 = smp1[i].split(":");
                var m1=smp2[0].replaceAll("'","");
                m1=m1.replaceAll(" ","");
                var m2=smp2[1].replaceAll("'","");;
                m2=m2.replaceAll(" ","");
                if (m1=="yotei" || m1=="juchu"){
                    m2=m2.replaceAll("@",",");
                    m2=m2.replaceAll("}","");
                }
                smobj[m1]=m2;
            }
            console.log(smobj);

            // モーダルへ書き込み
            modal.find('#m-cus_id').val(smobj.cus_id);

            modal.find('#m-company').text(smobj.com);
            if (smobj.busho == ""){
                modal.find('#m-name').text(smobj.sei + smobj.mei);
            } else{
                modal.find('#m-name').text(smobj.busho + "　" + smobj.sei + smobj.mei);
            }

            var tan_list={1:"井上",2:"古川",3:"眞下",4:"夏八木",5:"藤井",6:"武井",7:"粂川"}
            var kan_list={"0":"","5":"★★★★★（5）","4":"★★★★☆（4）","3":"★★★☆☆（3）","2":"★★☆☆☆（2）","1":"★☆☆☆☆（1）"}
            modal.find('#m-tantou').text(tan_list[smobj.tantou])
            modal.find('#m-kanshoku').text(kan_list[smobj.kanshoku]);

            modal.find('#m-adress').text("住所：" + smobj.adress);
            modal.find('#m-tel').text("TEL：" + smobj.tel);
            modal.find('#m-mob').text("携帯：" + smobj.mob);

            console.log(smobj);
            str="<th></th>";
            str2="<td style='text-align:center;'>目標</td>";
            str3="<td style='text-align:center;'>実績</td>";
            sp=smobj.yotei.replace("[","");
            sp=sp.replace("]","");
            sp=sp.split(",");
            sp2=smobj.juchu.replace("[","");
            sp2=sp2.replace("]","");
            sp2=sp2.split(",");

            for (i=0; i<sp.length; i++){
                if (i==12){
                    str = str + "<th style='text-align:center;'>合計</th>";
                } else{
                    str = str + "<th style='text-align:center;'>" + (i+1) + "月</th>";
                }
                str2 = str2 + "<td style='text-align:right;'>" + Number(sp[i]).toLocaleString() + "</td>";
                str3 = str3 + "<td style='text-align:right;'>" + Number(sp2[i]).toLocaleString() + "</td>";
            }



            str4="<table class='table table-bordered' style='table-layout:fixed;'><tr>" + str + "</tr><tr>" + str2 + "</tr><tr>" + str3 + "</tr></table>"
            modal.find('#m-list').html(str4);


        })


        //---------------------------------
        //テーブルのクリック　「月」を取得
        //---------------------------------
        function getCELL() {
            var myTbl = document.getElementById('tb');
                // trをループ。rowsコレクションで,行位置取得。
            for (var i=0; i<myTbl.rows.length; i++) {
                // tr内のtdをループ。cellsコレクションで行内セル位置取得。
                for (var j=0; j<myTbl.rows[i].cells.length; j++) {
                    var Cells=myTbl.rows[i].cells[j]; //i番行のj番列のセル "td"
                    // onclickで 'Mclk'を実行。thisはクリックしたセル"td"のオブジェクトを返す。
                    Cells.onclick =function(){Mclk(this);}
                }
            }
        }
        function Mclk(Cell) {
            var col_in =document.getElementById("col");
            var frm_in = document.getElementById("frm");          
            if (Cell.parentNode.rowIndex == 0){
                col_in.value=Cell.cellIndex;
                frm_in.submit();
            }
        }

        try{
            window.addEventListener("load",getCELL,false);
        }catch(e){
                window.attachEvent("onload",getCELL);
                }
        

        
    </script>


</body>
</html>