{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>houjin_right</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .class1 {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .main{
            padding: 0.5em 1em;
            margin: 0 auto;
            margin-top: 0.5em;
            /* color: rgb(71, 71, 71); */
            background: #FFF;
            border: solid 1px #0b5f1a;
            border-radius: 10px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
            width: 380px;
            box-shadow: 0 0 3px 3px #0e7722;
            /* box-shadow: 0 0 2px 2px #0e7722, 0 0 1px 1px #0e7722 inset; */
        }
        .data{
            display: flex;
            flex-wrap: wrap;
        }
        .name{
            width: 85px;
            text-align: right;
        }
        .data-code{
            width: calc(340px - 100px);
        }
        .kanshoku_detail{
            /* border: solid 1px #bbb; */
            margin-top: 0.5em;
            width: 135px;
            height: 60px;
        }
    </style>

</head>
<body>
    <div class="main mb-4">
        <div>
            <form action="" method="post" target="ifr1">{% csrf_token %}
                <div class="class1">
                    <div class="class1" style="width: 50%;" align="left">
                        <div>担当：</div>
                        <div>{{form.tantou}}</div>
                    </div>
                    <div style="width: 50%;" align="right" >
                        <button type="submit" class="btn btn-success">更新</button>
                    </div>
                </div>
                <div class="data mt-3">
                    <div>
                        <table>
                            <tr>
                                <td style="text-align: right;">DM：</td>
                                <td>{{form.dm_day}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">TEL：</td>
                                <td>{{form.tel_day}}</td>
                            </tr>
                            <tr>
                                <td>外商：</td>
                                <td>{{form.gaisho_day}}</td>
                            </tr>
                            <tr>
                                <td>納品：</td>
                                <td>{{form.nouhin_day}}</td>
                            </tr>
                        </table>
                    </div>
                    <div style="margin-left: 20px;">
                        <div class="class1">
                            <div>感触：</div>
                            <div>{{form.kanshoku}}</div>
                        </div>
                        <div class="kanshoku_detail class1" id="kanshoku_detail" style="font-size: 90%; padding: 0.2em;">
                            {% for i in cus %}
                                {% if  i.kanshoku == 1 %}
                                    <div><img src="{% static '1.jpg' %}"></div>
                                    <div style="margin-left: 10px;">ダメや。。</div>
                                {% elif i.kanshoku == 2 %}
                                    <div><img src="{% static '2.jpg' %}"></div>
                                    <div style="margin-left: 10px;">期待はかなり薄いね</div>
                                {% elif i.kanshoku == 3 %}
                                    <div><img src="{% static '3.jpg' %}"></div>
                                    <div style="margin-left: 10px;">可もなく<br>不可もなく</div>
                                {% elif i.kanshoku == 4 %}
                                    <div><img src="{% static '4.jpg' %}"></div>
                                    <div style="margin-left: 10px;"> なかなかの好感触！</div>
                                {% elif i.kanshoku == 5 %}
                                    <div><img src="{% static '5.jpg' %}"></div>
                                    <div style="margin-left: 10px;"> 超いい感じ！</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-check form-switch mt-3" style="margin-left: 3em;">
                    {{form.dm_check}}
                    <label class="form-check-label" for="dm_send">DM配信リストに追加する</label>
                </div>
                <div class="mt-2" >
                    <div>備考：</div>
                    <div>{{form.bikou}}</div>
                </div>
            </form>       
        </div>       
        
        {% for i in cus %}
            {% if i.tantou != 0 %}
            <hr>
            <div>
                <form action="{% url 'houjin:sell' %}" method="post">{% csrf_token %}
                    <div class="class1 mt-3" style="font-size: 0.9em;">
                        <div style="margin-left: 5px;">
                            <label for="sell_mon">見込：</label>
                            <input type="month" name="sell_mon" id="sell_mon" style="width: 110px;" required>
                        </div>               
                        <div>
                            <input type="hidden" name="sell_cus_id" id="sell_cus_id" value="{{i.cus_id}}">
                        </div>
                        <div style="margin-left: 10px;">
                            <input type="number" name="sell_money" id="sell_money" style="width: 90px;" required>
                        </div>
                        <div>円</div>
                        <div style="margin-left: 15px;">
                            <button type="submit" class="btn btn-secondary btn-sm">追加</button> 
                        </div>    
                    </div>
                </form>
            </div>
            {% endif %}
        
            
            {% if sell %} 
            <div class="mb-4" style="margin-left: 20px;">
                <table class="table table-striped table-bordered table-sm mt-3" style="width: 300px;">
                    {% for h in sell %}
                    <tr>
                        <td style="text-align:center;width: 100px;">{{h.sell_mon}}</td>
                        <td style="text-align:right; padding-right: 20px;">{{h.sell_money  | intcomma}}</td>
                        <td align="center" style="width: 90px;">
                            <form action="{% url 'houjin:sell_delete' h.pk %}" method="post">{% csrf_token %}
                                <div><input type="hidden" name="sell_cus_id" value="{{i.cus_id}}"></div>
                                <button type="submit" style="font-size: 0.8em;">削除</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>            
            </div>
            {% endif %}

            <hr>
            <form action="{% url 'houjin:delete' %}" method="post" target="_top">{% csrf_token %}
                <div class="class1 mt-3">
                    <div style="margin-left: 20px;">
                        <label for="cus_id">顧客ID：</label>
                        <input type="text" name="cus_id" id="cus_id" value="{{i.cus_id}}" style="width: 100px;" readonly>
                    </div>               
                    <div style="margin-left: 15px;">
                        <button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('本当に削除しますか？')">削除</button> 
                    </div>
                </div>
            </form>
            <hr>
            <div style="font-size: 0.9em;">
                <div class="data">
                    <div class="name">会社名：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.com}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">部課名：</div>
                    {% if i.com %}
                    <div class="data-code">{{i.busho}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">氏名：</div>
                    {% if i.com %}
                    <div class="data-code">{{i.sei}} {{i.mei}}（{{i.sei_kana}} {{i.mei_kana}}）</div>
                    {% endif %}
                </div>

                <div class="data mt-3">
                    <div class="name">郵便番号：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.yubin}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">住所：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.pref}}{{i.city}}{{i.banchi}}{{i.build}}</div>
                    {% endif %}
                </div>

                <div class="data mt-3">
                    <div class="name">TEL：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.tel}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">携帯：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.mob}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">FAX：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.fax}}</div>
                    {% endif %}
                </div>

                <div class="data mt-3">
                    <div class="name">メール1：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.mail1}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">メール2：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.mail2}}</div>
                    {% endif %}
                </div>
                <div class="data">
                    <div class="name">メール3：</div>
                    {% if i.com %}
                        <div class="data-code">{{i.mail3}}</div>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
        
    </div>


    <script>

        var kanshoku=document.getElementById("kanshoku");
        var kanshoku_detail=document.getElementById("kanshoku_detail");

        kanshoku.onchange = function(){
            var atai = this.value;
            if (atai == 1){
                kanshoku_detail.innerHTML="<div><img src='{% static '1.jpg' %}'></div><div style='margin-left: 10px;'>ダメや。。</div>";
            } else if (atai == 2){
                kanshoku_detail.innerHTML="<div><img src='{% static '2.jpg' %}'></div><div style='margin-left: 10px;'>期待はかなり薄いね</div>";
            } else if (atai == 3){
                kanshoku_detail.innerHTML="<div><img src='{% static '3.jpg' %}'></div><div style='margin-left: 10px;'>可もなく<br>不可もなく</div>";
            } else if (atai == 4){
                kanshoku_detail.innerHTML="<div><img src='{% static '4.jpg' %}'></div><div style='margin-left: 10px;'> なかなかの好感触！</div>";
            } else if (atai == 5){
                kanshoku_detail.innerHTML="<div><img src='{% static '5.jpg' %}'></div><div style='margin-left: 10px;'> 超いい感じ！</div>";
            } else {
                kanshoku_detail.innerHTML="";
            }
        }


</script>

</body>
</html>