<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>houjin_top</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
    .class1 {
        display: flex;
        flex-direction: row;
		margin:0 auto; width: 80%;
    }
	.class2{
		display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
	}
    .class2 .child2{
        margin-right:0.8em;
        margin-left: 0.2em;
    }
	
    </style>

</head>
<body>		
    <div class="class1 mt-2 mb-2">
        <div class="mt-4">
            <form action="{% url 'houjin:hyouji' %}" method="post" target="_top">{% csrf_token %}
                <div class="class2">               
                    <div>担当者：</div>
                    <div class="child2">
                    <select class="form-select" name="tantou">
                        {% for tantou in list %}
                            {% if tantou == hyouji %}
                            <option value={{tantou}} selected>{{tantou}}</option>
                            {% else %}
                            <option value={{tantou}}>{{tantou}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                    <div id="hyouji_btn"><button class="btn btn-secondary btn-sm" type="submit">表示</button></div>
                </div>
            </form>
        </div>
        <div style="margin-left: 50px;margin-top: 10px;">
            <form action="" method="post" target="_top">{% csrf_token %}
                <div class="class2">
                    <div>   
                        <div class="class2">
                            <div>住所：</div>
                            <div><input class="form-control form-control-sm" type="text" name="find_adress"></div>
                        </div>
                        <div class="class2" style="margin-top: 10px;">
                            <div>備考：</div>
                            <div><input class="form-control form-control-sm" type="text" name="find_bikou"></div>
                        </div>
                    </div>
                    <div style="margin-left: 30px;">
                        <div class="class2">
                            <div>登録日：</div>
                            <div><input class="form-control form-control-sm" type="date" name="find_toroku_from"></div>
                            <div style="margin-left: 5px;">～</div>
                            <div style="margin-left: 5px;"><input class="form-control form-control-sm" type="date" name="find_toroku_to"></div>
                        </div>
                        <div style="margin-top: 10px; text-align: right;">
                            <button class="btn btn-secondary btn-sm" type="submit">検索</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- <div><a href="{% url 'houjin:logout' %}">ログアウト</a></div> -->

        <!-- <div>
            <a href="{% url 'houjin:csv_page' %}" target="_top"><button class="btn btn-secondary">CSV取込</button></a> 
        </div> -->

    </div>

    <script>

        var hyouji=document.getElementById("hyouji_btn");
        var positionY;					/* スクロール位置のY座標 */
        var STORAGE_KEY = "scrollY";

        hyouji.addEventListener("click",function(){
            positionY = 0;
            localStorage.setItem(STORAGE_KEY, positionY);
        })

    </script>

</body>
</html>