<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>houjin_top</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
    .class1 {
        display: flex;
        flex-direction: row;
		margin:0 auto; width: 80%;
    }
	.class2{
		display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
	}
    .class3{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    </style>

</head>
<body>

    <div class="mt-2 mb-2" style="width: 95%; margin:0 auto;">
        <form action="{% url 'houjin:hyouji' %}" method="post" target="_top">{% csrf_token %}
            <table>
                <tr>
                    <td>aaa</td>
                </tr>



            </table>
        </form>
    </div>







    <div class="class3" style="width: 95%;">
    <div class="class1 mt-2 mb-2">
        <form action="{% url 'houjin:hyouji' %}" method="post" target="_top">{% csrf_token %}
        
            <div  class="class2" style="margin-left: 10px; margin-top: 10px;">
                <div style="width: 180px;">
                    <div class="class2">
                        <div>担当者：</div>
                        <div>
                            <select class="form-select form-select-sm" name="tantou" id="tantou">
                                {% for key,value in list.items %}
                                    {% if key == tantou %}
                                        <option value="{{key}}" selected>{{value}}</option>
                                    {% else %}
                                        <option value="{{key}}">{{value}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="hyouji_btn" style="margin-top: 10px;">
                        <button class="btn btn-secondary btn-sm" type="submit">検索結果を表示</button>
                    </div>
                </div>
                <div style="margin-left: 30px;">   
                    <div class="class2">
                        <div>会社名：</div>
                        <div><input class="form-control form-control-sm" type="text" name="find_adress" id="find_adress" value="{{adress}}"></div>
                    </div>
                    <div class="class2" style="margin-top: 10px;">
                        <div>顧客ID：</div>
                        <div><input class="form-control form-control-sm" type="text" name="find_bikou" id="find_bikou" value="{{bikou}}"></div>
                    </div>
                </div>              
                <div style="margin-left: 30px;">   
                    <div class="class2">
                        <div>住所：</div>
                        <div><input class="form-control form-control-sm" type="text" name="find_adress" id="find_adress" value="{{adress}}"></div>
                    </div>
                    <div class="class2" style="margin-top: 10px;">
                        <div>備考：</div>
                        <div><input class="form-control form-control-sm" type="text" name="find_bikou" id="find_bikou" value="{{bikou}}"></div>
                    </div>
                </div>
                <div style="margin-left: 30px;">
                    <div class="class2">
                        <div>登録日：</div>
                        <div><input class="form-control form-control-sm" type="date" name="find_toroku_from" id="find_toroku_from" value="{{toroku_from}}"></div>
                        <div style="margin-left: 5px;">～</div>
                        <div style="margin-left: 5px;"><input class="form-control form-control-sm" type="date" name="find_toroku_to" id="find_toroku_to" value="{{toroku_to}}"></div>
                    </div>
                    <div class="class2" style="margin-top: 10px;">
                        <div style="margin-left: 1em;">感触：</div>
                        <div>
                            <select class="form-select form-select-sm" name="find_kanshoku" id="find_kanshoku">
                            {% for key,value in list2.items %}
                                {% if key == kanshoku %}
                                    <option value="{{key}}" selected>{{value}}</option>
                                {% else %}
                                    <option value="{{key}}">{{value}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 100px;">
                            <button id="clear_btn" class="btn btn-outline-secondary btn-sm">クリア</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="class2" style="margin-left:180px;">
                    <div class="class2">
                        <div>備考：</div>
                        <div><input class="form-control form-control-sm" type="text" name="find_bikou" id="find_bikou" value="{{bikou}}"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-4">
        <a href="{% url 'houjin:dm_down' %}"><button class="btn btn-primary">DMリスト</button></a>
    </div>
    </div>


    <script>

        //スクロール位置
        var hyouji=document.getElementById("hyouji_btn");
        var positionY;					/* スクロール位置のY座標 */
        var STORAGE_KEY = "scrollY";

        hyouji.addEventListener("click",function(){
            positionY = 0;
            localStorage.setItem(STORAGE_KEY, positionY);
        })



        // フォームクリア
        var clear_btn = document.getElementById("clear_btn");
        var find_adress = document.getElementById("find_adress");
        var find_bikou = document.getElementById("find_bikou");
        var find_toroku_from = document.getElementById("find_toroku_from");
        var find_toroku_to = document.getElementById("find_toroku_to");
        var find_kanshoku = document.getElementById("find_kanshoku");

        clear_btn.addEventListener("click",function(){
            find_adress.value="";
            find_bikou.value="";
            find_toroku_from.value="0000-00-00";
            find_toroku_to.value="0000-00-00";
            find_kanshoku.options[0].selected=true;

            event.stopPropagation();
            event.preventDefault();
        })

    </script>

</body>
</html>